.oferta {
    border-color: 4px solid rgb(32, 226, 7);
    background: rgb(9, 233, 9) ;
}
td{
    vertical-align: middle;
    color: white;
}
tr{
    color: white;
}
table, tr{
    border: 4px solid black;
}
.div-vermas{
    width: 150%;
}